.Photo {
    position: relative;
}

.photo-tag {
    border: 3px solid lightgreen;
    position: absolute;
    font-weight: bold;
    font-size: medium;
    vertical-align: center;
}

.tag-name {
    background-color: black;
    opacity: .8;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}

.tag-dropdown {
    position: absolute;
    padding: 0 20px;
}