.Tagging {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.tag-filter {
    border: solid #aaa 2px;
    margin: 0 10px;
}

.filter-header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;

}

.tag-select {
    font-weight: normal;
    font-size: large;
}